.navbar{
    position: fixed;
    z-index: 1;
}

.title{
    width: 10%;
}

.items-list{
    width: 20%;
    padding: 0;
}

.button-list{
    display: none;
    margin: 0;
}

.material-symbols-outlined{
    font-size: 40px;
}

.not-menu-list{
    display: none;
}

.yes-menu-list{
    display: block;
}

.menu-list{
    padding: 0;
}

.menu-list li a{
    color: white;
    text-decoration: none;
}

.button-menu{
    display: none;
}

.button-menu:active{
    color:white;
    display: block;
}

@media (max-width: 992px){
    .button-menu{
        display: block;
    }

    .navbar-nav{
        display: none;
    }
}

@media (min-width: 992px){
    .yes-menu-list{
        display: none
    }
}

.content{
    position: absolute;
	top: 13%;
    z-index: 0;
}

.jumbotron {
    background-color: rgb(221, 221, 221);
    width: 95%;
}

.footer{
    height: 6rem;
}

.copyright{
    margin: auto;
    font-size: 1rem;
}
